<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevinwidjaja.kitchenmanager" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InventoryActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/title_activity_shopping_list" >
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name=".RecipeActivity"
            android:label="@string/title_activity_recipe"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".RecipeActivityAddRecipe"
            android:label="@string/title_activity_recipe_activity_add_recipe" >
        </activity>
        <activity
            android:name=".RecipeActivityViewRecipe"
            android:label="@string/title_activity_recipe_activity_view_recipe" >
        </activity>
        <activity
            android:name=".RecipeActivityEditRecipe"
            android:label="@string/title_activity_recipe_activity_edit_recipe" >
        </activity>
        <activity
            android:name=".RecipeAddIngredient"
            android:label="@string/title_activity_recipe_add_ingredient"
            android:windowSoftInputMode="stateHidden">
        </activity>
    </application>

</manifest>
