<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevinwidjaja.kitchenmanager" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InventoryActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".ShoppingListActivity"
            android:label="@string/title_activity_shopping_list" >
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name=".RecipeActivity"
            android:label="@string/title_activity_recipe" >
        </activity>
        <activity
            android:name=".ShoppingListActivity_add"
            android:label="@string/title_activity_shopping_list_activity_add" >
        </activity>
        <activity
            android:name=".ShoppingListActivity_edit"
            android:label="@string/title_activity_shopping_list_activity_edit" >
        </activity>
        <activity
            android:name=".InventoryActivity_add"
            android:label="@string/title_activity_inventory_activity_add" >
        </activity>
        <activity
            android:name=".InventoryActivity_edit"
            android:label="@string/title_activity_inventory_activity_edit" >
        </activity>
    </application>

</manifest>
